.lowPriority {
    color: green;
}

.mediumPriority {
    color: rgb(255, 183, 0);
}

.highPriority {
    color: red;
}

#content {
    border: .5px solid black;
    padding: 16px;
}

button {
    background-color: white;
    border: .5px solid black;
    border-bottom: none;
}

.selected {
    background-color: blue;
}